.active-nav {
  background: teal;
  color: white;
}

.homelinks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // flex-direction: column;
  button {
    margin-top: 10px;
    margin-left: 10px;
    width: 120px;
  }
}
