<div class="container">
  <!-- <p>teams works!</p>

  url===>{{ActivatedRoute.url |async}}
  <br>
  params===>{{ActivatedRoute.params |async |json}}
  <br>
  queryParams===>{{ActivatedRoute.queryParams |async |json}}
  <br>
  paramMap===>{{ActivatedRoute.paramMap |async |json}}
  <br>
  fragment===>{{ActivatedRoute.fragment |async |json}}

  <h1>{{name}} #{{id}}</h1> -->



  <nav class="nav justify-content-center">
    <a class="nav-link" routerLink="add">Add Team</a>
    <a class="nav-link" routerLink="edit">Edit Team</a>
  </nav>

  <div class="row">

    <router-outlet></router-outlet>
  </div>
</div>
<!-- <button class="btn btn-primary" (click)="gohome()"></button> -->
